@charset "UTF-8";

/* eb-garamond-regular - latin */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('fonts/eb-garamond-v26-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/eb-garamond-v26-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/eb-garamond-v26-latin-regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

html {
	display: table;
	margin: auto;
}

body {
	background-color: #780404;
	display: table-cell;
	vertical-align: middle;
	font-family: "EB Garamond";
	color: #ffffff;
	width: 1024px;
	font-size: 22px;
}

h1 {
	font-family: "EB Garamond";
	color: #ffffff;
	text-align:center;
	font-weight: normal;
	font-size: 24px;
	margin-bottom: 20px;
}

h2 {
	font-family: "EB Garamond";
	color: #ffffff;
	text-align:center;
	font-weight: normal;
	font-size: 24px;
	margin-top: 60px;
}

a {
	color: #ffffff;
	font-size: 22px;
}

.inhalt {
	font-family: "EB Garamond";
	color: #ffffff;
	font-size: 22px;
	line-height: 3px;
	margin-left: 100px;
}

li {
	color: #ffffff;
	font-size: 22px;
}

.block {
	text-align: justify;
	color: #ffffff;
	font-size: 22px;
	width: 1024px;
}

/***********/
/*hauptmenü*/
/***********/
.hauptmenu {
	display: flex;
	list-style: none;
	padding: 0;
 	height: 60px;
	justify-content: center;
}

.menubutton {
  width: 100%;
  padding: 24px 94px;
  color: #ffffff;
  background-color: #780404;
  text-decoration: none;
  border: none;
  font-size: 32px;
}

.menubutton:hover{
  color: #707070;
  background-color: #780404;
  text-decoration: none;	
}

.menubutton_active {
  width: 100%;
  padding: 24px 94px;
  color: #707070;
  background-color: #ffffff;
  text-decoration: none;
  border: none;
  font-size: 32px;
}
/****************/
/*hauptmenü ende*/
/****************/

/***************/
/*katalogseiten*/
/***************/
.liste {
	margin-left: 88px;	
}

.seite:link {
	color: #ffffff;
	text-decoration: underline;
}

.seite:visited {
	color: #d0d0d0;
	text-decoration: underline;
}

.seite:hover {
	color: #707070;
	text-decoration: underline;
}

.seite:active {
	color: #d3d3d3;
	text-decoration: underline;
}

.bild {
	vertical-align: middle;
	width: 100%
}
/**********************/
/*katalogseiten - ende*/
/**********************/

/*************/
/*kseite-menü*/
/*************/
.kseite_menu {	
	color: #ffffff;
	font-size: 22px;
	display: flex;
	list-style: none;
	padding: 0;
	justify-content: center;
}

.prev_dead {
	text-align: left;
}

.prev {
	color: #ffffff;
	text-align: left;
	width: 200px;
}

.prev:hover {
	color: #707070;
	text-decoration: underline;
}

.here {
	text-align: center;
	width: 820px;
}

.next {
	color: #ffffff;
	text-align: right;
	width: 200px;
}

.next:hover {
	color: #707070;
	text-decoration: underline;
}

/********************/
/*kseite-menü - ende*/
/********************/

.kseite {
	display: block;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}